/* ================================= fonts =============================== */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');



/* ================================ root ============================= */



:root {
  
  
  --Dark-Blue-Dark-Mode-Elements: rgba(43, 57, 69, 1);
  --Very-Dark-Blue-Dark-Mode-Background: rgba(32, 44, 55, 1);
  --Very-Dark-Blue-Light-Mode-Text: rgba(17, 21, 23, 1);
  --Dark-Gray-Light-Mode-Input: rgba(133, 133, 133, 1);
  --Very-Light-Gray-Light-Mode-Background: rgba(250, 250, 250, 1);
  --White-Dark-Mode-Text: rgba(255, 255, 255, 1);
  
  
  --box-shadow_light: 0 0 5px rgba(169, 169, 169, 0.5);
  
}


body.dark {
  
  --box-shadow_light: 0 0 10px rgba(61, 81, 99, .3);
  --White-Dark-Mode-Text: rgba(43, 57, 69, 1); 
  
}








/* ============================ general ============================== */


* {

  box-sizing: border-box;
  font-family: 'Nunito Sans';
  margin: 0;
  padding: 0;
  
}




body {
  
  background: var(--Very-Light-Gray-Light-Mode-Background);
  transition: background .4s ease-in-out;
  
}

body.dark {
  
  background: var(--Very-Dark-Blue-Dark-Mode-Background);
  
}

/* ============================= style ================================= */




.app {
  
  width: 100%;
  
}


.app__header {
  
  width: 90%;
  margin: auto;
  
}


.app__header__top {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: var(--White-Dark-Mode-Text);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10%;
  box-shadow: var(--box-shadow_light);
  transition: all .4s ease-in-out;
  
}

body.dark .app__header__top {
  
  background: var(--Dark-Blue-Dark-Mode-Elements);
  box-shadow: var(--box-shadow_light);
  color: rgba(255, 255, 255, 1);
  
}


.app__header__top__dark-light {
  
  width: 30%;
  max-width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}


/* ================================== nav ============================== */



.app__nav {
  
  width: 100%;
  margin-top: 120px;
  
}


.app__nav__search {
  
  width: 100%;
  background: var(--White-Dark-Mode-Text);
  display: flex;
  align-items: center;
  margin: auto;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: var(--box-shadow_light);
  position: relative;
  
}

.fa-magnifying-glass {
  
  margin-right: 5%;
  color: var(--Dark-Gray-Light-Mode-Input);
  
}

.app__nav__search__input {
  
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: var(--White-Dark-Mode-Text);
  transition: color .4s ease-in-out;
  
}

body.dark .app__nav__search__input {
  
  color: #FFF;
  
}

.show__auto_complete {
  
  width: 100%;
  height: 100px;
  position: absolute;
  top: 130%;
  left: 0;
  z-index: 9999999999999;
  background: var(--White-Dark-Mode-Text);
  border-radius: 5px;
  box-shadow: var(--box-shadow_light);
  display: none;
  align-items: flex-start;
  padding-left: 10%;
  padding-top: 5%;
  
}

.show__auto_complete__myText {
  
  font-size: 1.2em;
  font-weight: 600;
  color: var(--Dark-Gray-Light-Mode-Input);
  
}

.show__auto_complete__myText:before {
  
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--Dark-Gray-Light-Mode-Input);
  
}




/* filter */


.app__nav__filter {
  
  margin-top: 15%;
  width: 200px;
  height: 50px;
  background: var(--White-Dark-Mode-Text);
  box-shadow: var(--box-shadow_light);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transition: color .4s ease-in-out;
  
}

body.dark .app__nav__filter {
  
  color: #FFF;
  
}


.app__nav__filter__region {
  
  position: absolute;
  top: 110%;
  width: 100%;
  height: 180px;
  background: var(--White-Dark-Mode-Text);
  box-shadow: var(--box-shadow_light);
  border-radius: 5px;
  display: flex;
  align-items: center;
  display: none;
  z-index: 9999;
  
}

.show {
  
  display: flex
  
}

.app__nav__filter__region__content {
  
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10%;
  
}

.app__nav__filter__region__content__list {
  
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.app__nav__filter__region__content__list li {
  
  width: 100%;
  padding: 10px 0;
  transition: color .4s ease-in-out;
  
}

body.dark .app__nav__filter__region__content__list li {
  
  color: #FFF;
  
}



/* ======================================= main ============================= */



.app__main {
  
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.app__main__cards {
  
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  
}



.app__main__cards__card {
  
  max-width: 250px;
  width: 80%;
  height: auto;
  position: relative;
  border-radius: 5px;
  box-shadow: var(--box-shadow_light);
  background: var(--White-Dark-Mode-Text);
  overflow: hidden;
  margin-bottom: 15%;
  
}

.app__main__cards__card img {
  
  width: 100%;
  
  
}

.app__main__cards__card__details {
  
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  margin-top: 5%;
  
}

.app__main__cards__card__details__d {
  
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}


.app__main__cards__card__details__title {
  
  font-size: 1.5em;
  
}

body.dark .app__main__cards__card__details__title {
  
  color: #FFF;
  
}


.app__main__cards__card__details__list {
  
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: color .4s ease-in-out;
  
}

.app__main__cards__card__details__list p {

  font-size: 0.8em;

}

body.dark .app__main__cards__card__details__list p {
  
  color: #FFF;
  
}



.app__main__cards__card__details__list b {
  
  margin-right: 5%;
  
}



@media (min-width: 700px) {
  

  .app__main__cards {
    
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    
  }

  .app__main__cards__card {
    
    height: 350px;
    
  }

  .app__main__cards__card img {
    
    height: 170px;
    
  }
  
  
}
